#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.borderedElement {
  margin: 15px;
  display: inline-block;
  border: 5px solid #aaa;
  border-radius: 5px;
  background-color: #eee;
}

.shadowed-element {
  box-shadow: 0px 0px 5px 3px yellow
}

.demo {
  display: block;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #aaa;
}

.customClass {
  width: 100%;
  background-color: #acc;
  transition: width 2s, background-color 2s;
}

.circled-element {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: border-radius 0.5s, width 0.5s, height 0.5s;
}

.shadowed-circle {
  box-shadow: 0 0 3px 3px #ff1111; 
  transition: box-shadow 0.5s;
}

.progress-element-wrapper {
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #fff;
}

.progress-element {
  display: block;
  height: 23px;
  background-color: #4db8ff;
  margin: 1px;
  border-radius: 3px;
}

.start-progress {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: green;
  color: white;
  border: 2px solid orange;
  margin: 10px 0;
}

.stop-progress {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 2px solid orange;
  margin: 10px 0;
}
